:root {
    --firstcolor: rgb(176,4,52);
    --secondcolor: rgb(243, 242, 242);    
}

* {
    box-sizing: border-box;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: brown;
}

.nav-bar {
    background-color: transparent;
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-bar .nav-item {
    background-color: yellowgreen;
    border-radius: 10px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px ;
}

.nav-bar .nav-item a {
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.profile-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.profile-pic img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.test {
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.test + .test {
    background-color: cadetblue;
}

