:root {
    --first-color: rgb(176,4,52);
    --second-color: rgb(243, 242, 242); 
    --third-color: #333;   
}

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--secon-dcolor);
}

html {
    font-size: 15px;
}

body {
    height: 100%;
    background-color: var(--third-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav-bar {
    background-color: transparent;
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    padding-left: 70px;
    
}

.nav-bar button {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transform: scale(1.3);
    margin: 20px;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}

.active {
    background-color: var(--first-color) !important;
    color: var(--second-color) !important;
    transition: background-color 1s ease; 
}

/* landing page styles */

#landing-page {
    
    display: grid;
    width: 1300px;
    height: 100vh;
    grid-template-areas: 
            "picture description description description"
            "picture icons icons icons "
            "v-descr v-descr video video"
            "v-descr v-descr video video";
        grid-template-rows:  2fr 1fr 1fr 2fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 120px 0px 50px 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#landing-page > div {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: var(--second-color);
}

#landing-page .prof-pic {
    grid-area: picture;
    background-color: var(--first-color);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}

#landing-page .prof-pic img {
    border-radius: 50%;
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    border: 5px solid var(--second-color);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#landing-page .presentation {
    grid-area: description;
    background-color: var(--first-color);
    flex-direction: column;
    text-align: center;
}

#landing-page .social {
    grid-area: icons;
    display: flex;
    gap: 10px;
    box-shadow: none;
}

#landing-page .social > div {
    background-color: var(--first-color);
    height: 100%;
    flex: 1;
    border-radius: 10px;    
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#landing-page .video-desc {
    grid-area: v-descr;
    background-color: var(--first-color);
}

#landing-page .video-desc h3 {
    font-size: 1.5rem;
    padding: 0 25px;
    text-align: center;
    
}

#landing-page .video-cont {
    grid-area: video;
    background-color: var(--first-color);
}

/* project page styles */

#projects-page {
    flex: 1;
    display: grid;
    width: 1300px;
    height: 100vh;
    grid-template-areas: 
        "pro1 pro2"
        "pro3 pro4";
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
    padding: 120px 0px 50px 0px;
}

#projects-page > div {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#projects-page .project-1 {
    grid-area: pro1;
    background-color: var(--first-color);
}

#projects-page .project-2 {
    grid-area: pro2;
    background-color: var(--first-color);
}

#projects-page .project-3 {
    grid-area: pro3;
    background-color: var(--first-color);
}

#projects-page .project-4 {
    grid-area: pro4;
    background-color: var(--first-color);
}

#projects-page > div {
    border-radius: 10px ;
}

/* footer styles */


footer {
    background-color: #222;
    color: var(--second-color);
    padding: 20px 0;
    width: 100%;
    font-size: 1.1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container p {
    margin: 0;
}

.footer-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-container ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer-container ul li:last-child {
    margin-right: 0;
}

.footer-container ul li a {
    color: var(--second-color);
    text-decoration: none;
}

.page {
    height: 100vh;
    width: 100%; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

 /* X-Small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap */

 /* Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) { 
    #landing-page {
        flex: 1;
        display: grid;
        width: 100%;
        /* height: 1000px; */
        grid-template-areas: 
            "picture description"
            "  icons icons "
            "v-descr v-descr "
            " video video";
        grid-template-rows: 2fr 1fr 1fr 3fr;
        grid-template-columns: 1fr 1fr;
        padding: 100px 30px 30px 30px;
        
    }

    #projects-page {
        flex: 1;
        display: grid;
        width: 100%;
        /* height: 1500px; */
        grid-template-areas: 
            "pro1"
            "pro2"
            "pro3"
            "pro4";
        grid-template-rows: repeat(4, 1fr) ;
        grid-template-columns: 1fr ;
        gap: 10px;
        padding: 100px 30px 30px 30px;
    }

    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .nav-bar {
        justify-content: center;
        padding: 0;

    }
 }
    

