@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;400;700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-weight: 400; */
    margin: 0;
    padding: 0;
}

html {
    /* add a smoth scroll when clicked on links */
    scroll-behavior: smooth;
}

/* MENU */

.header-container {
    background: #a80532;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.header-container header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.header-container header .logo a {
    font-family: 'Righteous', sans-serif;
    font-size: 36px;
    color: whitesmoke;
    text-decoration: none;
}

.header-container header ul {
    display: flex;
    list-style: none;
}

.header-container header nav ul li a {
    text-align: none;
    color: white;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.header-container header nav ul li a:hover {
    color: black;
}

.nav-responsive {
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECTION INICIO */

.inicio {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)), url(img/background_2.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
}

.inicio .banner-container {
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    /* margin-top: 100px; */
    text-align: center;
    border-radius: 40px;
}

.inicio .banner-container img {
    margin-top: 40px;
    border: 10px solid #a80532;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .banner-container h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous', sans-serif;
}

.inicio .banner-container h2 {
    font-size: 15px;
    font-weight: normal;
}

.inicio .banner-container .redes a {
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .banner-container .redes a:hover {
    background-color: #a80532;
}


/* SECTION ABOUT ME */

.about-me {
    background-color: #1e2326;
    color: white;
    padding: 50px 20px;
}

.about-me .about-me-container {
    max-width: 900px;
    margin: auto;
}

.about-me h2 {
    font-size: 48px;
    font-family: 'Righteous', sans-serif;
    text-align: center;
    padding: 20px 0;
}

.about-me .about-me-container p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.about-me .about-me-container p span {
    color: #a80532;
    font-weight: bold;
}

.about-me .content-row {
    display: flex;
}

.about-me .content-row .data-col {
    width: 50%;
}

.about-me .content-row .data-col h3 {
    font-size: 28px;
    font-family: 'Righteous', sans-serif;
    margin-bottom: 25px;
}

.about-me .content-row .data-col ul {
    list-style: none;
    padding-left: 10%;
}

.about-me .content-row .data-col ul li {
    margin: 12px 0;
    text-align: left;
}

.about-me .content-row .data-col ul li strong {
    display: inline-block;
    color: #a80532;
    width: 130px;
}

.about-me .content-row .data-col ul li span {
    background-color: #a80532;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.about-me .content-row .data-col .interests-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-me .content-row .data-col .interests-container .interests {
    width: 100px;
    height: 100px;
    background-color: #252a2e;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.about-me .content-row .data-col .interests-container .interests:hover {
    background-color: #a80532;
}

.about-me .content-row .data-col .interests-container .interests i {
    font-size: 30px;
    margin-bottom: 10px;
}

.about-me button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    width: fit-content;
    display: block;
    margin: 40px auto;
    padding: 10px 22px;
    font-size: 15px;
    color: white;
    position: relative;
    z-index: 10;
}

.about-me button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #a80532;
    z-index: -1;
    transition: .5s;
}

.about-me button:hover .overlay {
    width: 100%;
}

/* SECTION CURRICULUM */

.curriculum {
    background-color: #252a2e;
    color: white;
    padding: 50px 20px;
}

