@import 'tailwindcss';

@theme {
  --color-accent-50: #e4f7ff;
  --color-accent-100: #cff0ff;
  --color-accent-200: #88e0ff;
  --color-accent-300: #00d2fb;
  --color-accent-400: #00bbdf;
  --color-accent-500: #00a6c7;
  --color-accent-600: #00829d;
  --color-accent-700: #006277;
  --color-accent-800: #004150;
  --color-accent-900: #00262f;
  --color-accent-950: #00161d;

  --color-bg-primary: var(--bg-primary);
  --color-bg-card: var(--bg-card);

  --color-bg-hover: var(--bg-hover);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --font-console: Courier New, monospace, Monaco, Consolas, 'Fira Code';
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-primary: #f5f5f5;
  --bg-card: #fdfdfd;
  --bg-hover: #e5e7eb;
  --text-primary: #111827;
  --text-secondary: #4b5563;
}

.dark {
  --bg-primary: #111827;
  --bg-card: #1f2937;
  --bg-hover: #374151;
  --text-primary: #f3f4f6;
  --text-secondary: #9ca3af;
}

html {
  scroll-behavior: smooth;
}

button,
a {
  cursor: pointer;
}

.static-bg {
  background-image: url('/bg.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.carousel-container {
  display: flex;
  overflow-x: auto;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  animation: auto-scroll 35s linear infinite;
  padding-right: 1rem;
}

.carousel-card {
  flex: 0 0 300px;
  text-align: center;
  align-content: center;
  cursor: pointer;
}

@keyframes auto-scroll {
  from {translate: 0;}
  to {translate: -100%;}
}